body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;

	height: 100vh;
	background-color: #1a1a1a;
	align-items: center;
	color: white
}

* {
	margin-left: 0;
}

button {
	margin: 20px;
	border-radius: 5px;
	background-color: rgb(125, 4, 246) !important;
}

p {
	margin: 0;
}

#canvas {
	margin-top: 20px;
	background-color: rgb(7, 74, 42);
	display: block;


	width: 80vw;
	height: 50vw;
	border: 3vw solid rgb(116, 85, 35);
	border-radius: 20px;
	outline: 5px solid rgb(187, 167, 35);
	outline-offset: 1vw;


}


#btnContainer {
	display: flex;
	flex-direction: row;
	width: 80vw;

}

button {
	top: 20px;
	left: 20px;
	padding: 10px 20px;
	width: calc(40vw - 50px);

	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: #0056b3;
}